doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Test
		link(rel='stylesheet', href='./css/style.css', media='all')
	body
		header
			button.btn-left Left aside
			button.btn-right Right aside
		.wrapper
			aside.aside.aside-left
			.content
				main.main
					.main__top-block page description
					.inner
						.main__left-block
						.main__right-block
				footer footer
			aside.aside.aside-right
		.test-block Click for test fixed header and always visible block
		script(src='https://code.jquery.com/jquery-1.11.1.min.js')
		script.
			$(function() {
			$('body').on('click' , '.btn-left' , function(e){
			e.preventDefault;
			$('.aside-left').toggleClass('opened');
			$('.aside-right').removeClass('opened');
			});
			$('body').on('click' , '.btn-right' , function(e){
			e.preventDefault;
			$('.aside-right').toggleClass('opened');
			$('.aside-left').removeClass('opened');
			});
			$(window).scroll(function(){
			if ($(this).scrollTop() > 60) {$('body').addClass('fixed');}
			else {$('body').removeClass('fixed');}
			});
			$('body').on('click' , '.test-block' , function(e){
			e.preventDefault;
			$('.main__left-block').toggleClass('large');
			});
			});
